.project-container{

    margin: 0px 15px 0px 15px;
}

#projects{
    justify-content: center;
    display: flex;

}

@media (max-width: 768){

    #projects .row{
        justify-content: center;
    }

}
    

